#resform > input {
  display: block;
  width: 272px;
  height: 38px;
  margin: auto;
  padding: 5px;
  margin-bottom: 20px;
  border: solid 1px hsl(229, 24%, 87%);
  border-radius: 4px;
  font-weight: 600;
}
#resform > label {
  display: block;
  width: 80%;
  margin: auto;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
::placeholder {
  color: hsl(231, 11%, 63%);
}
.formCont {
  grid-area: 2/ 1/ 3/ 4;
  margin: auto;
  width: 340px;
  height: 368px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 3px 21px -17px;
}
#resform > .empty {
  border-color: rgb(255, 0, 0);
  background-color: #f70b0b3a;
}
@media (min-width: 440px) and (max-width: 2000px) {
  .formCont {
    grid-area: 1/ 2/ 2/ 4;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px;
  }

  #resform > input {
    width: 450px;
    height: 50px;
    margin: 0;
    font-weight: 400;
    font-size: 1.1rem;
  }
  #resform >  label:first-of-type {
    margin-top: 30px;
  }
  #resform  > label {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: hsl(213, 96%, 18%);
    font-weight: 600;
  }
  ::placeholder {
    color: hsl(231, 11%, 63%);
  }
}
