  #header {
    grid-area: 1/ 1/ 3/ 4;
    margin-top: 7px;
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    display: flex;
    justify-content: center;
  }

  #header > div {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
}

@media (min-width: 440px) and (max-width: 2000px) {
  #container {
    background-color: hsl(0, 0%, 100%);
    width: 900px;
    height: 600px;
    grid-template-columns: 350px 550px;
    grid-template-rows: 500px 100px;
    margin-top: 20px;
  }
  #header {
    margin-top: 15px;
    margin-left: 15px;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    grid-area: 1/ 1/ 5/ 2;
  }
  #header > div {
    display: block;
    margin-right: 70px;
    margin-top: 20px;
  }
}